* {
  margin: 0;
  padding: 0;
}

.outerDiv {
  background-color: rgb(24, 24, 24);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
}

.mainContentDiv {
  position: relative;
  display: flex;
  left: 323px;
}
@media (max-width: 1730px) {
  .mainContentDiv {
    left: 280px;
  }
}
@media (max-width: 1550px) {
  .mainContentDiv {
    left: 215px;
  }
}
